= stylesheet_link_tag "bootstrap/bootstrap.min.css", "plugins/uniform/uniform.default.css", "fonts/icomoon/style.css", "login.css", "plugins/zocial/zocial.css"

#login-wrap
  #login-ribbon
    i.icon-lock
  #login-buttons
    .btn-wrap
      button.btn.btn-inverse data-target="#login-form" type="button"
        i.icon-key
    .btn-wrap
      button.btn.btn-inverse data-target="#register-form" type="button"
        i.icon-edit
    .btn-wrap
      button.btn.btn-inverse data-target="#forget-form" type="button"
        i.icon-question-sign
  #login-inner.login-inset
    #login-circle
      section#login-form.login-inner-form data-angle="0"
        h1 Login
        = form_tag sign_in_path, method: :post, class: "form-vertical" do |f|
          .control-group-merged
            .control-group
              input#input-username.big.required name="[email]" placeholder="Email" type="text"
            .control-group
              input#input-password.big.required name="[password]" placeholder="Password" type="password"
          .form-actions
            button.btn.btn-success.btn-block.btn-large type="submit" Login

      section#register-form.login-inner-form data-angle="90"
        h1 Register
        = form_tag sign_up_path, method: :post, class: "form-vertical" do |f|
          .control-group
            label.control-label Fullname
            .controls
              input.required name="[fullname]" type="text"
          .control-group
            label.control-label Email
            .controls
              input.required.email name="[email]" type="text"
          .control-group
            label.control-label Password
            .controls
              input.required name="[password]" type="password"
          .form-actions
            button.btn.btn-danger.btn-block.btn-large type="submit" Register

      section#forget-form.login-inner-form data-angle="180"
        h1 Reset Password
        form.form-vertical action="dashboard.html"
          .control-group
            .controls
              input.big.required.email name="Reset[email]" placeholder="Enter Your Email..." type="text"
          .form-actions
            button.btn.btn-danger.btn-block.btn-large type="submit" Reset
  /!
    | <div id="login-social" class="login-inset">
    | <button class="zocial facebook">Connect with Facebook</button>
    | <button class="zocial twitter">Connect with Twitter</button>
    | </div>
/! Core Scripts

= javascript_include_tag "libs/jquery-1.8.3.min.js", "libs/jquery.placeholder.min.js", "login.js" ,"plugins/validate/jquery.validate.min.js", "plugins/uniform/jquery.uniform.min.js"
